@import 'tailwindcss';

@font-face {
    font-family: 'Digital-7';
    src: url("/fonts/digital-7/digital-7.ttf")format('opentype');
}

@font-face {
    font-family: 'Impact';
    src: url("/fonts/impact/impact.ttf")format('opentype');
}